@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Montserrat, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* task 1 */

#categories {
  padding: 24px;
  max-width: 440px;
  margin: 0 auto;
  border-radius: 8px;
  background: #fff;
}

#categories .item {
  padding: 16px;
  border-radius: 8px;
  background: #f6f6fe;
}

#categories .item:not(:last-child) {
  margin-bottom: 24px;
}

#categories .item h2 {
  color: #2e2f42;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

#categories .item li {
  padding: 8px 16px;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}

#categories .item li:not(:last-child) {
  margin-bottom: 8px;
}

/* task 2 */
ul.gallery {
  padding: 10px;
}

/* task 3 */
#name-input {
  margin-top: 24px;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 16px;
  margin-left: 24px;
  padding-left: 16px;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

h1 {
  margin-left: 24px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

/* task 4 */
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  padding: 24px;
  border-radius: 8px;
  background: #fff;
}

.login-form label {
  display: block;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}

.login-form input {
  padding: 5px;
  width: 360px;
  height: 40px;
  letter-spacing: 0.04em;
  margin-top: 8px;
}

.login-form button {
  width: 86px;
  margin-top: 16px;
  padding: 8px 16px;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* task-5 */
.widget {
  padding: 100px 88px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background: #fff;
}

p {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.change-color {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  padding: 8px 16px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
